In [1]:
import pandas as pd

In [2]:
af=pd.read_excel(r'C:\Users\123\Desktop\user.xlsx')
print(af)

         UserID Gender   Age  Occupation::  \
0           1.0      F   1.0          10.0
1           2.0      M  56.0          16.0
2           3.0      M  25.0          15.0
3           4.0      M  45.0           7.0
4           5.0      M  25.0          20.0
5           6.0      F  50.0           9.0
6           7.0      M  35.0           1.0
7           8.0      M  25.0          12.0
8           9.0      M  25.0          17.0
9          10.0      F  35.0           1.0
10         11.0      F  25.0           1.0
11         12.0      M  25.0          12.0
12         13.0      M  45.0           1.0
13         14.0      M  35.0           0.0
14         15.0      M  25.0           7.0
15         16.0      F  35.0           0.0
16         17.0      M  50.0           1.0
17         18.0      F  18.0           3.0
18         19.0      M   1.0          10.0
19         20.0      M  25.0          14.0
20         21.0      M  18.0          16.0
21         22.0      M  18.0          15.0
22         23.0      M  35.0           0.0
23         24.0      F  25.0           7.0
24         25.0      M  18.0           4.0
25         26.0      M  25.0           7.0
26         27.0      M  25.0          11.0
27         28.0      F  25.0           1.0
28         29.0      M  35.0           7.0
29         30.0      F  35.0           7.0
...         ...    ...   ...           ...
1000179     NaN    NaN   NaN           NaN
1000180     NaN    NaN   NaN           NaN
1000181     NaN    NaN   NaN           NaN
1000182     NaN    NaN   NaN           NaN
1000183     NaN    NaN   NaN           NaN
1000184     NaN    NaN   NaN           NaN
1000185     NaN    NaN   NaN           NaN
1000186     NaN    NaN   NaN           NaN
1000187     NaN    NaN   NaN           NaN
1000188     NaN    NaN   NaN           NaN
1000189     NaN    NaN   NaN           NaN
1000190     NaN    NaN   NaN           NaN
1000191     NaN    NaN   NaN           NaN
1000192     NaN    NaN   NaN           NaN
1000193     NaN    NaN   NaN           NaN
1000194     NaN    NaN   NaN           NaN
1000195     NaN    NaN   NaN           NaN
1000196     NaN    NaN   NaN           NaN
1000197     NaN    NaN   NaN           NaN
1000198     NaN    NaN   NaN           NaN
1000199     NaN    NaN   NaN           NaN
1000200     NaN    NaN   NaN           NaN
1000201     NaN    NaN   NaN           NaN
1000202     NaN    NaN   NaN           NaN
1000203     NaN    NaN   NaN           NaN
1000204     NaN    NaN   NaN           NaN
1000205     NaN    NaN   NaN           NaN
1000206     NaN    NaN   NaN           NaN
1000207     NaN    NaN   NaN           NaN
1000208     NaN    NaN   NaN           NaN

                                                     Title  \
0                                         Toy Story (1995)
1                                           Jumanji (1995)
2                                  Grumpier Old Men (1995)
3                                 Waiting to Exhale (1995)
4                       Father of the Bride Part II (1995)
5                                              Heat (1995)
6                                           Sabrina (1995)
7                                      Tom and Huck (1995)
8                                      Sudden Death (1995)
9                                         GoldenEye (1995)
10                          American President, The (1995)
11                                                 Dracula
12                                            Balto (1995)
13                                            Nixon (1995)
14                                 Cutthroat Island (1995)
15                                           Casino (1995)
16                            Sense and Sensibility (1995)
17                                       Four Rooms (1995)
18                                             Ace Ventura
19                                      Money Train (1995)
20                                       Get Shorty (1995)
21                                          Copycat (1995)
22                                        Assassins (1995)
23                                           Powder (1995)
24                                Leaving Las Vegas (1995)
25                                          Othello (1995)
26                                     Now and Then (1995)
27                                       Persuasion (1995)
28                       City of Lost Children, The (1995)
29       Shanghai Triad (Yao a yao yao dao waipo qiao) ...
...                                                    ...
1000179                                                NaN
1000180                                                NaN
1000181                                                NaN
1000182                                                NaN
1000183                                                NaN
1000184                                                NaN
1000185                                                NaN
1000186                                                NaN
1000187                                                NaN
1000188                                                NaN
1000189                                                NaN
1000190                                                NaN
1000191                                                NaN
1000192                                                NaN
1000193                                                NaN
1000194                                                NaN
1000195                                                NaN
1000196                                                NaN
1000197                                                NaN
1000198                                                NaN
1000199                                                NaN
1000200                                                NaN
1000201                                                NaN
1000202                                                NaN
1000203                                                NaN
1000204                                                NaN
1000205                                                NaN
1000206                                                NaN
1000207                                                NaN
1000208                                                NaN

                               Genres  UserID.1  MovieID  Rating  Timestamp
0         Animation|Children's|Comedy         1     1193       5  978300760
1        Adventure|Children's|Fantasy         1      661       3  978302109
2                      Comedy|Romance         1      914       3  978301968
3                        Comedy|Drama         1     3408       4  978300275
4                              Comedy         1     2355       5  978824291
5               Action|Crime|Thriller         1     1197       3  978302268
6                      Comedy|Romance         1     1287       5  978302039
7                Adventure|Children's         1     2804       5  978300719
8                              Action         1      594       4  978302268
9           Action|Adventure|Thriller         1      919       4  978301368
10               Comedy|Drama|Romance         1      595       5  978824268
11                      Comedy|Horror         1      938       4  978301752
12               Animation|Children's         1     2398       4  978302281
13                              Drama         1     2918       4  978302124
14           Action|Adventure|Romance         1     1035       5  978301753
15                     Drama|Thriller         1     2791       4  978302188
16                      Drama|Romance         1     2687       3  978824268
17                           Thriller         1     2018       4  978301777
18                             Comedy         1     3105       5  978301713
19                             Action         1     2797       4  978302039
20                Action|Comedy|Drama         1     2321       3  978302205
21               Crime|Drama|Thriller         1      720       3  978300760
22                           Thriller         1     1270       5  978300055
23                       Drama|Sci-Fi         1      527       5  978824195
24                      Drama|Romance         1     2340       3  978300103
25                              Drama         1       48       5  978824351
26                              Drama         1     1097       4  978301953
27                            Romance         1     1721       4  978300055
28                   Adventure|Sci-Fi         1     1545       4  978824139
29                              Drama         1      745       3  978824268
...                               ...       ...      ...     ...        ...
1000179                           NaN      6040     2762       4  956704584
1000180                           NaN      6040     1036       3  956715455
1000181                           NaN      6040      508       4  956704972
1000182                           NaN      6040     1041       4  957717678
1000183                           NaN      6040     3735       4  960971654
1000184                           NaN      6040     2791       4  956715569
1000185                           NaN      6040     2794       1  956716438
1000186                           NaN      6040      527       5  956704219
1000187                           NaN      6040     2003       1  956716294
1000188                           NaN      6040      535       4  964828734
1000189                           NaN      6040     2010       5  957716795
1000190                           NaN      6040     2011       4  956716113
1000191                           NaN      6040     3751       4  964828782
1000192                           NaN      6040     2019       5  956703977
1000193                           NaN      6040      541       4  956715288
1000194                           NaN      6040     1077       5  964828799
1000195                           NaN      6040     1079       2  956715648
1000196                           NaN      6040      549       4  956704746
1000197                           NaN      6040     2020       3  956715288
1000198                           NaN      6040     2021       3  956716374
1000199                           NaN      6040     2022       5  956716207
1000200                           NaN      6040     2028       5  956704519
1000201                           NaN      6040     1080       4  957717322
1000202                           NaN      6040     1089       4  956704996
1000203                           NaN      6040     1090       3  956715518
1000204                           NaN      6040     1091       1  956716541
1000205                           NaN      6040     1094       5  956704887
1000206                           NaN      6040      562       5  956704746
1000207                           NaN      6040     1096       4  956715648
1000208                           NaN      6040     1097       4  956715569

[1000209 rows x 10 columns]

In [3]:
df=pd.DataFrame(af)
df

,UserID,Gender,Age,Occupation::,Title,Genres,UserID.1,MovieID,Rating,Timestamp
0,1.0,F,1.0,10.0,Toy Story (1995),Animation|Children's|Comedy,1,1193,5,978300760
1,2.0,M,56.0,16.0,Jumanji (1995),Adventure|Children's|Fantasy,1,661,3,978302109
2,3.0,M,25.0,15.0,Grumpier Old Men (1995),Comedy|Romance,1,914,3,978301968
3,4.0,M,45.0,7.0,Waiting to Exhale (1995),Comedy|Drama,1,3408,4,978300275
4,5.0,M,25.0,20.0,Father of the Bride Part II (1995),Comedy,1,2355,5,978824291
5,6.0,F,50.0,9.0,Heat (1995),Action|Crime|Thriller,1,1197,3,978302268
6,7.0,M,35.0,1.0,Sabrina (1995),Comedy|Romance,1,1287,5,978302039
7,8.0,M,25.0,12.0,Tom and Huck (1995),Adventure|Children's,1,2804,5,978300719
8,9.0,M,25.0,17.0,Sudden Death (1995),Action,1,594,4,978302268
9,10.0,F,35.0,1.0,GoldenEye (1995),Action|Adventure|Thriller,1,919,4,978301368
10,11.0,F,25.0,1.0,"American President, The (1995)",Comedy|Drama|Romance,1,595,5,978824268
11,12.0,M,25.0,12.0,Dracula,Comedy|Horror,1,938,4,978301752
12,13.0,M,45.0,1.0,Balto (1995),Animation|Children's,1,2398,4,978302281
13,14.0,M,35.0,0.0,Nixon (1995),Drama,1,2918,4,978302124
14,15.0,M,25.0,7.0,Cutthroat Island (1995),Action|Adventure|Romance,1,1035,5,978301753
15,16.0,F,35.0,0.0,Casino (1995),Drama|Thriller,1,2791,4,978302188
16,17.0,M,50.0,1.0,Sense and Sensibility (1995),Drama|Romance,1,2687,3,978824268
17,18.0,F,18.0,3.0,Four Rooms (1995),Thriller,1,2018,4,978301777
18,19.0,M,1.0,10.0,Ace Ventura,Comedy,1,3105,5,978301713
19,20.0,M,25.0,14.0,Money Train (1995),Action,1,2797,4,978302039
20,21.0,M,18.0,16.0,Get Shorty (1995),Action|Comedy|Drama,1,2321,3,978302205
21,22.0,M,18.0,15.0,Copycat (1995),Crime|Drama|Thriller,1,720,3,978300760
22,23.0,M,35.0,0.0,Assassins (1995),Thriller,1,1270,5,978300055
23,24.0,F,25.0,7.0,Powder (1995),Drama|Sci-Fi,1,527,5,978824195
24,25.0,M,18.0,4.0,Leaving Las Vegas (1995),Drama|Romance,1,2340,3,978300103
25,26.0,M,25.0,7.0,Othello (1995),Drama,1,48,5,978824351
26,27.0,M,25.0,11.0,Now and Then (1995),Drama,1,1097,4,978301953
27,28.0,F,25.0,1.0,Persuasion (1995),Romance,1,1721,4,978300055
28,29.0,M,35.0,7.0,"City of Lost Children, The (1995)",Adventure|Sci-Fi,1,1545,4,978824139
29,30.0,F,35.0,7.0,Shanghai Triad (Yao a yao yao dao waipo qiao) ...,Drama,1,745,3,978824268
...,...,...,...,...,...,...,...,...,...,...
1000179,NaN,NaN,NaN,NaN,NaN,NaN,6040,2762,4,956704584
1000180,NaN,NaN,NaN,NaN,NaN,NaN,6040,1036,3,956715455
1000181,NaN,NaN,NaN,NaN,NaN,NaN,6040,508,4,956704972
1000182,NaN,NaN,NaN,NaN,NaN,NaN,6040,1041,4,957717678
1000183,NaN,NaN,NaN,NaN,NaN,NaN,6040,3735,4,960971654
1000184,NaN,NaN,NaN,NaN,NaN,NaN,6040,2791,4,956715569
1000185,NaN,NaN,NaN,NaN,NaN,NaN,6040,2794,1,956716438
1000186,NaN,NaN,NaN,NaN,NaN,NaN,6040,527,5,956704219
1000187,NaN,NaN,NaN,NaN,NaN,NaN,6040,2003,1,956716294
1000188,NaN,NaN,NaN,NaN,NaN,NaN,6040,535,4,964828734
1000189,NaN,NaN,NaN,NaN,NaN,NaN,6040,2010,5,957716795
1000190,NaN,NaN,NaN,NaN,NaN,NaN,6040,2011,4,956716113
1000191,NaN,NaN,NaN,NaN,NaN,NaN,6040,3751,4,964828782
1000192,NaN,NaN,NaN,NaN,NaN,NaN,6040,2019,5,956703977
1000193,NaN,NaN,NaN,NaN,NaN,NaN,6040,541,4,956715288
1000194,NaN,NaN,NaN,NaN,NaN,NaN,6040,1077,5,964828799
1000195,NaN,NaN,NaN,NaN,NaN,NaN,6040,1079,2,956715648
1000196,NaN,NaN,NaN,NaN,NaN,NaN,6040,549,4,956704746
1000197,NaN,NaN,NaN,NaN,NaN,NaN,6040,2020,3,956715288
1000198,NaN,NaN,NaN,NaN,NaN,NaN,6040,2021,3,956716374
1000199,NaN,NaN,NaN,NaN,NaN,NaN,6040,2022,5,956716207
1000200,NaN,NaN,NaN,NaN,NaN,NaN,6040,2028,5,956704519
1000201,NaN,NaN,NaN,NaN,NaN,NaN,6040,1080,4,957717322
1000202,NaN,NaN,NaN,NaN,NaN,NaN,6040,1089,4,956704996
1000203,NaN,NaN,NaN,NaN,NaN,NaN,6040,1090,3,956715518
1000204,NaN,NaN,NaN,NaN,NaN,NaN,6040,1091,1,956716541
1000205,NaN,NaN,NaN,NaN,NaN,NaN,6040,1094,5,956704887
1000206,NaN,NaN,NaN,NaN,NaN,NaN,6040,562,5,956704746
1000207,NaN,NaN,NaN,NaN,NaN,NaN,6040,1096,4,956715648
1000208,NaN,NaN,NaN,NaN,NaN,NaN,6040,1097,4,956715569

In [4]:
df[:5]

,UserID,Gender,Age,Occupation::,Title,Genres,UserID.1,MovieID,Rating,Timestamp
0,1.0,F,1.0,10.0,Toy Story (1995),Animation|Children's|Comedy,1,1193,5,978300760
1,2.0,M,56.0,16.0,Jumanji (1995),Adventure|Children's|Fantasy,1,661,3,978302109
2,3.0,M,25.0,15.0,Grumpier Old Men (1995),Comedy|Romance,1,914,3,978301968
3,4.0,M,45.0,7.0,Waiting to Exhale (1995),Comedy|Drama,1,3408,4,978300275
4,5.0,M,25.0,20.0,Father of the Bride Part II (1995),Comedy,1,2355,5,978824291

In [5]:
df['Favorable']=df['Rating']>3

In [6]:
df[:5]

,UserID,Gender,Age,Occupation::,Title,Genres,UserID.1,MovieID,Rating,Timestamp,Favorable
0,1.0,F,1.0,10.0,Toy Story (1995),Animation|Children's|Comedy,1,1193,5,978300760,True
1,2.0,M,56.0,16.0,Jumanji (1995),Adventure|Children's|Fantasy,1,661,3,978302109,False
2,3.0,M,25.0,15.0,Grumpier Old Men (1995),Comedy|Romance,1,914,3,978301968,False
3,4.0,M,45.0,7.0,Waiting to Exhale (1995),Comedy|Drama,1,3408,4,978300275,True
4,5.0,M,25.0,20.0,Father of the Bride Part II (1995),Comedy,1,2355,5,978824291,True

In [7]:
dfs=df[df['UserID.1'].isin(range(200))]

In [8]:
Favorable_dfs=dfs[dfs['Favorable']]

In [9]:
Favorable_users=dict((k,frozenset(v.values))for k,v in Favorable_dfs.groupby("UserID.1")["MovieID"])

In [10]:
numf=dfs[['MovieID','Favorable']].groupby('MovieID').sum()
numf

         Favorable
MovieID
1             53.0
2             12.0
3              3.0
4              1.0
5              2.0
6             20.0
7              5.0
8              3.0
9              2.0
10            18.0
11            17.0
12             0.0
13             3.0
14             5.0
15             2.0
16            15.0
17            28.0
18             2.0
19             5.0
20             1.0
21            26.0
22             2.0
23             0.0
24            10.0
25            16.0
26             2.0
27             1.0
28             5.0
29             9.0
30             5.0
...            ...
3918           4.0
3919           1.0
3920           0.0
3921           1.0
3922           1.0
3923           0.0
3924           1.0
3925           2.0
3926           3.0
3927           8.0
3928           4.0
3929           3.0
3930           4.0
3932           3.0
3933           0.0
3934           1.0
3935           0.0
3936           1.0
3937           1.0
3938           1.0
3939           1.0
3941           0.0
3942           0.0
3943           3.0
3946           1.0
3948          22.0
3949          10.0
3950           1.0
3951           2.0
3952           6.0

[2833 rows x 1 columns]

In [11]:
numf.sort_values("Favorable")[-5:]

         Favorable
MovieID
3578          77.0
260           80.0
1196          83.0
2028          85.0
2858         106.0

In [12]:
frequent_itemsets={}

In [13]:
minsupport=50

In [14]:
frequent_itemsets[1]=dict((frozenset((movie_id,)),row["Favorable"])for movie_id,row in numf.iterrows() if row["Favorable"]> minsupport)
print("There are {} movies with more than {} favorable reviews".format(len(frequent_itemsets[1]),minsupport))

There are 26 movies with more than 50 favorable reviews

In [15]:
frequent_itemsets

{1: {frozenset({1}): 53.0,
  frozenset({110}): 59.0,
  frozenset({260}): 80.0,
  frozenset({296}): 60.0,
  frozenset({318}): 68.0,
  frozenset({356}): 60.0,
  frozenset({480}): 69.0,
  frozenset({527}): 62.0,
  frozenset({589}): 59.0,
  frozenset({593}): 63.0,
  frozenset({608}): 58.0,
  frozenset({858}): 53.0,
  frozenset({1097}): 52.0,
  frozenset({1196}): 83.0,
  frozenset({1197}): 58.0,
  frozenset({1198}): 75.0,
  frozenset({1210}): 72.0,
  frozenset({1265}): 53.0,
  frozenset({1270}): 52.0,
  frozenset({1580}): 51.0,
  frozenset({2028}): 85.0,
  frozenset({2396}): 59.0,
  frozenset({2571}): 70.0,
  frozenset({2762}): 71.0,
  frozenset({2858}): 106.0,
  frozenset({3578}): 77.0}}

In [16]:
from collections import defaultdict
def find_frequent_itemsets(Favorable_users,k_1_itemsets,minsupport):
    counts=defaultdict(int)
    for user,reviews in Favorable_users.items():
        for itemset in k_1_itemsets:
            if itemset.issubset(reviews):
                for other_reviewed_movie in reviews-itemset:
                    current_superset=itemset|frozenset((other_reviewed_movie,))
                    counts[current_superset] += 1
    return dict ([(itemset,frequency)for itemset,frequency in counts.items() if frequency >= minsupport])

In [17]:
import sys

In [ ]:
for k in range(2,20):
    cur_frequent_itemsets =find_frequent_itemsets(Favorable_users,frequent_itemsets[k-1],minsupport)
    
    
    if len(cur_frequent_itemsets) == 0:
        print('Did not find any frequent itemsets of length {}'.format(k))
        break
    else :
        print('i found {} frequent itemsets of length {}'.format(len(cur_frequent_itemsets),k))
        frequent_itemsets[k]= cur_frequent_itemsets
   
    
del frequent_itemsets[1]

In [18]:
print("Found a total of {0} frequent itemsets".format(sum(len(itemsets) for itemsets in frequent_itemsets.values())))

Found a total of 26 frequent itemsets

In [19]:
candidate_rules = []
for itemset_length, itemset_counts in frequent_itemsets.items():
    for itemset in itemset_counts.keys():
        for conclusion in itemset:
            premise = itemset - set((conclusion,))
            candidate_rules.append((premise, conclusion))
print("There are {} candidate rules".format(len(candidate_rules)))
print(candidate_rules[:5])

There are 26 candidate rules
[(frozenset(), 1), (frozenset(), 110), (frozenset(), 260), (frozenset(), 296), (frozenset(), 318)]

In [20]:
correct_counts = defaultdict(int)
incorrect_counts = defaultdict(int)
for user, reviews in Favorable_users.items():
    for candidate_rule in candidate_rules:
        premise, conclusion = candidate_rule
        if premise.issubset(reviews):
            if conclusion in reviews:
                correct_counts[candidate_rule] += 1
            else:
                incorrect_counts[candidate_rule] += 1
rule_confidence = {candidate_rule: correct_counts[candidate_rule] / float(correct_counts[candidate_rule] + incorrect_counts[candidate_rule])
              for candidate_rule in candidate_rules}

In [21]:
min_confidence = 0.9
rule_confidence = {rule: confidence for rule, confidence in rule_confidence.items() if confidence > min_confidence}
print(len(rule_confidence))

0

In [25]:
from operator import itemgetter
sorted_confidence = sorted(rule_confidence.items(), key=itemgetter(1), reverse=True)
for index in range(5):
    print("Rule #{0}".format(index + 1))
    (premise, conclusion) = sorted_confidence[index][0]
    print("Rule: If a person recommends {0} they will also recommend {1}".format(premise, conclusion))
    print(" - Confidence: {0:.3f}".format(rule_confidence[(premise, conclusion)]))
    print("")

Rule #1

IndexError: list index out of range