In [1]:
import requests
import json
import csv

In [2]:
url_twse='http://www.tse.com.tw/exchangeReport/STOCK_DAY?response=json&date=20180312&stockNo=2330&_'
res=requests.get(url_twse)
s=json.loads(res.text)

In [3]:
s

{'data': [['107/03/01',
   '43,847,984',
   '10,669,194,561',
   '244.00',
   '245.00',
   '242.00',
   '243.00',
   '-3.00',
   '11,589'],
  ['107/03/02',
   '35,289,170',
   '8,453,712,014',
   '240.00',
   '241.00',
   '238.50',
   '240.00',
   '-3.00',
   '10,440'],
  ['107/03/05',
   '27,337,846',
   '6,607,367,732',
   '242.50',
   '243.00',
   '240.50',
   '241.50',
   '+1.50',
   '9,321'],
  ['107/03/06',
   '36,945,780',
   '9,155,812,210',
   '245.50',
   '250.00',
   '245.50',
   '250.00',
   '+8.50',
   '13,977'],
  ['107/03/07',
   '30,391,219',
   '7,525,601,638',
   '248.00',
   '248.50',
   '246.00',
   '247.00',
   '-3.00',
   '10,521'],
  ['107/03/08',
   '20,645,694',
   '5,172,732,531',
   '249.50',
   '251.50',
   '249.00',
   '249.50',
   '+2.50',
   '8,817'],
  ['107/03/09',
   '22,887,063',
   '5,723,277,170',
   '250.00',
   '251.00',
   '248.50',
   '250.50',
   '+1.00',
   '7,050'],
  ['107/03/12',
   '24,492,615',
   '6,216,250,248',
   '252.00',
   '255.00',
   '251.50',
   '254.00',
   '+3.50',
   '10,545']],
 'date': '20180312',
 'fields': ['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'],
 'notes': ['符號說明:+/-/X表示漲/跌/不比價',
  '當日統計資訊含一般、零股、盤後定價，不含鉅額、拍賣、標購。',
  'ETF證券代號第六碼為K、M、S、C者，表示該ETF以外幣交易。'],
 'stat': 'OK',
 'title': '107年03月 2330 台積電           各日成交資訊'}

In [4]:
for data in(s['data']):
    print(data)

['107/03/01', '43,847,984', '10,669,194,561', '244.00', '245.00', '242.00', '243.00', '-3.00', '11,589']
['107/03/02', '35,289,170', '8,453,712,014', '240.00', '241.00', '238.50', '240.00', '-3.00', '10,440']
['107/03/05', '27,337,846', '6,607,367,732', '242.50', '243.00', '240.50', '241.50', '+1.50', '9,321']
['107/03/06', '36,945,780', '9,155,812,210', '245.50', '250.00', '245.50', '250.00', '+8.50', '13,977']
['107/03/07', '30,391,219', '7,525,601,638', '248.00', '248.50', '246.00', '247.00', '-3.00', '10,521']
['107/03/08', '20,645,694', '5,172,732,531', '249.50', '251.50', '249.00', '249.50', '+2.50', '8,817']
['107/03/09', '22,887,063', '5,723,277,170', '250.00', '251.00', '248.50', '250.50', '+1.00', '7,050']
['107/03/12', '24,492,615', '6,216,250,248', '252.00', '255.00', '251.50', '254.00', '+3.50', '10,545']

In [8]:
outputfile=open(r'C:\Users\123\Desktop\sotck\output.csv','w',newline='')
outputwriter = csv.writer(outputfile)
outputwriter.writerow(s['title'])
outputwriter.writerow(s['fields'])
for data in (s['data']):
    outputwriter.writerow(data)

In [9]:
outputfile.close()